<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header"><center>MENÜ</center></li>
            <li><a href="~/Category/Index"><i class="fa fa-circle-o text-red"></i> <span>Kategoriler</span></a></li>
            <li><a href="~/Product/Index"><i class="fa fa-circle-o text-yellow"></i> <span>Ürünler</span></a></li>
            <li><a href="~/ProductDetail/Index"><i class="fa fa-circle-o text-orange"></i> <span>Ürün Detayları</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Karşılaştırmalar</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-blue"></i> <span>Ürün Yorumları</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-green"></i> <span>Karşılaştırma Yorumları</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-maroon"></i> <span>Şikayetler</span></a></li>
        </ul>
    </section>
</aside>

